@import url('https://fonts.googleapis.com/css?family=Lusitana:400,700');
@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/*html,*/
/*body {*/
/*  height: 100%;*/
/*}*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  /*background: linear-gradient(45deg, #e6e2df 80%, #c2c1bd 100%);*/
  /*background: #e6e2df;*/
  background: rgb(52, 59, 73);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tajawal', 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #D8DEE9;
  border: 8px solid #8FBCBB;
  font-size: 1.8rem;
}
h1, h2, h3{
  font-family: 'Lusitana', serif;
}
h1 {
  font-weight: 700;
  font-size: 3.8rem;
  color: #8FBCBB;
}
p {
  line-height: 150%;
  margin-bottom: 2rem;
}
/* nav area */
nav {
  position: fixed;
  right: 0;
  padding: 2rem 5rem;
}
nav ul {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #ECEFF4;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* nav area end*/

section {
  width: 80%;
  margin: 20rem auto 0;
  padding-top: 3rem;
}

/* greetings area */
.greetings {
  height: 100vh;
  display: flex;
}
/* greetings area end */

/*a.external {*/
/*  border-bottom: 2px solid;*/
/*  color: #da8cee;*/
/*  background: -webkit-linear-gradient(330deg, #4f7bd8 0%, #da8cee 50%, #ff9eb1 100%);*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color: transparent;*/
/*}*/
/*a.external:hover {*/
/*  border-bottom: 2px solid #4f7bd8;*/
/*}*/
.underlined {
  color: #EBCB8B;
  flex: 1;
  font-size: 2rem;
  line-height: 1.2;
  text-decoration: none;
  background-image: -webkit-linear-gradient(360deg, #5E81AC 0%, #88C0D0 50%, #A3BE8C 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined-gradient {
  background-position: 0 -0.1em;
  background-image: -webkit-linear-gradient(360deg, #5E81AC 0%, #88C0D0 50%, #A3BE8C 100%);;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 75vw 2fr;
  grid-template-rows: 5vh 5vh;
  text-align: left;
}
.grid-container .grid-item h1 {
  margin: 1.5em 0;
}
.grid-container .grid-item p {
  font-size: 18px;
  margin: 3em 0;
}
.landing-content {
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60%;
  margin: auto;
}
.landing-grid-container .wrapper {
  width: 100%;
  font-family: sans-serif, monospace;
  margin: 0 auto;
  position: relative;
  top: 100px;
  height: 180px;
}

.landing-grid-container .wrapper h2.landing {
  text-transform: uppercase;
  transform: translate(-50%, -50%) skew(10deg) rotate(-5deg);
  font-size: 8vw;
  top: -10%;
  left: 30%;
  margin: 0;
  position: absolute;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  color: rgba(118, 217, 202, 0.5);
  text-shadow: 1px 4px 6px #e6e2df, 0 0 0 #357b71, 1px 4px 6px #e6e2df;
  white-space: nowrap;
}
.landing-grid-container .wrapper h2.landing:before {
  content: attr(data-heading);
  position: absolute;
  left: -11px;
  top: -4.8%;
  overflow: hidden;
  width: 100%;
  height: 50%;
  color: #fbf7f4;
  transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
  z-index: 2;
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2);
}
.landing-grid-container .wrapper h2.landing:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #d3cfcc;
  transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
}

/* landing end */
.about {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.about div {
  padding: 1rem;
  width: 400px;
  height: 500px;
  margin: 5rem 3rem;
}
.about h1 {
  width: 90%;
  font-size: 2.5rem;
}
.about p {
  margin: 0.5rem 0;
}

/* about end */
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-item {
  width: 390px;
  height: 300px;
}
/* portfolio end */

/* IDE contact form css */
.editor {
  position: relative;
  min-height: 60vh;
  width: 60vw;
  margin: 5rem auto;
  border-radius: .5rem;
  border: .1rem solid #000;
  background-color: #2e2e2f;
  box-shadow: 0 0.2rem 0.3rem black;
  counter-reset: codeNum;

  font-size: 3rem;
  font-family: 'Source Code Pro', monospace;
  line-height: 3rem;
  font-weight: 100;
  color: #81A1C1;
  text-align: left;
}
.editor__tabs {
  display: block;
  position: relative;
  height: 5%;
  z-index: 1000;
  background-color: #191919;
}
.editor__tabs h1 {
  display: inline-block;
  height: 100%;
  margin: 0 0 0 3%;
  padding: 0 1rem;
  background-color: #2e2e2f;
  border-radius: .3rem .3rem 0 0;
  border-top: 1px solid #90907C;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #90907C;
  font-family: 'Source Code Pro', monospace;
  vertical-align: baseline;
}
.editor__lines {
  list-style-type: none;
  height: 95%;
  width: 97%;
  margin-left: 3%;
}
.editor__lines li {
  min-height: 3.5rem;
}
.editor__lines li:before {
  content: counter(codeNum);
  counter-increment: codeNum;
  position: absolute;
  left: 0;
  width: 3%;
  padding-right: .5rem;
  color: #2e2e2f;
  text-align: right;
  font-size: 2.2rem;
}
.editor__lines:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191919;
  height: 100%;
  width: 3%;
}
.editor__content {
  margin-left: 1.3rem;
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
}
.editor__content--indent {
  margin-left: 6rem;
}
.editor__content span {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 100;
  font-family: 'La Belle Aurore', cursive;
}
.editor__input-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  background-color: #282829;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: 'Source Code Pro', monospace;
  padding: .2rem 1rem;
  overflow: hidden;
  color: #81A1C1;
}
.editor__input-box:hover {
  border: 1px solid #90907C;
  background-color: #191919;
}
.editor__input-box:active {
  border: 1px solid #90907C;
  background-color: #191919;
}
.editor__input-box:focus {
  border: 1px solid #90907C;
  outline: none;
  caret-color: #FD971F;
  background-color: #191919;
}
.editor__input-button {
  padding: .5rem 1rem;
  background-color: #5E81AC;
  color: #ECEFF4;
}
.editor__input-button:focus {
  background-color: #5E81AC;
}
.editor__input-button:hover {
  background-color: #B48EAD;
  cursor: pointer;
}
/*.editor__input-button:active {*/
/*  cursor: -webkit-grabbing;*/
/*  cursor: grabbing;*/
/*  background-color: #A3BE8C;*/
/*  color: #2E3440;*/
/*}*/
.editor__textarea {
  margin-left: 10rem;
  min-height: 125px;
  min-width: 40%;
  width: 75%;
  max-width: 75%;
  padding: 1rem;
}

.nord-comment {
  color: #D8DEE9;
}

.nord-text {
  color: #3B4252;
}

.nord-string {
  color: #4C566A;
}

.nord-element {
  color: #3B4252;
}

.nord-attribute {
  color: #434C5E;
}

.editor__content .form-label {
  color: #D8DEE9;
  font-family: 'Source Code Pro', monospace;
}

/* IDE contact form css end */

footer {
  display: flex;
  justify-content: center;
  height: 50px;
}
footer h3 {
  margin: 0 2rem;
}

@media only screen and (max-width: 768px){
  .editor {
    display: none;
  }
}