@import url('https://fonts.googleapis.com/css?family=Lusitana:400,700');
@import url('https://fonts.googleapis.com/css?family=Tajawal');
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
/*html,*/
/*body {*/
/*  height: 100%;*/
/*}*/
body {
  /*background: linear-gradient(45deg, #e6e2df 80%, #c2c1bd 100%);*/
  background: #e6e2df;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Tajawal', 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  border: 8px solid #2C3E50;
  font-size: 1.2rem;
}
h1, h2, h3{
  font-family: 'Lusitana', serif;
}
h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
p {
  line-height: 150%;
}
/* nav area */
nav {
  position: fixed;
  right: 0;
}
nav ul {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* nav area end*/

section {
  width: 80%;
  margin: 0 auto;
}

/* greetings area */
.greetings {
  height: 100vh;
  display: flex;
}
/* greetings area end */

/*a.external {*/
/*  border-bottom: 2px solid;*/
/*  color: #da8cee;*/
/*  background: -webkit-linear-gradient(330deg, #4f7bd8 0%, #da8cee 50%, #ff9eb1 100%);*/
/*  -webkit-background-clip: text;*/
/*  -webkit-text-fill-color: transparent;*/
/*}*/
/*a.external:hover {*/
/*  border-bottom: 2px solid #4f7bd8;*/
/*}*/
.underlined {
  color: #000;
  flex: 1;
  font-size: 1.5rem;
  line-height: 1.2;
  text-decoration: none;
  background-image: -webkit-linear-gradient(360deg, #4f7bd8 0%, #da8cee 50%, #ff9eb1 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined-gradient {
  background-position: 0 -0.1em;
  background-image: -webkit-linear-gradient(360deg, #4f7bd8 0%, #da8cee 50%, #ff9eb1 100%);;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 75vw 2fr;
  grid-template-rows: 5vh 5vh;
  text-align: left;
}
.grid-container .grid-item h1 {
  margin: 1.5em 0;
}
.grid-container .grid-item p {
  font-size: 18px;
  margin: 3em 0;
}
.landing-content {
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  align-items: center;
}
.landing-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60%;
  margin: auto;
}
.landing-grid-container .wrapper {
  width: 100%;
  font-family: sans-serif, monospace;
  margin: 0 auto;
  position: relative;
  top: 100px;
  height: 180px;
}

.landing-grid-container .wrapper h2.landing {
  text-transform: uppercase;
  transform: translate(-50%, -50%) skew(10deg) rotate(-5deg);
  font-size: 8vw;
  top: -10%;
  left: 30%;
  margin: 0;
  position: absolute;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  color: rgba(118, 217, 202, 0.5);
  text-shadow: 1px 4px 6px #e6e2df, 0 0 0 #357b71, 1px 4px 6px #e6e2df;
  white-space: nowrap;
}
.landing-grid-container .wrapper h2.landing:before {
  content: attr(data-heading);
  position: absolute;
  left: -11px;
  top: -4.8%;
  overflow: hidden;
  width: 100%;
  height: 50%;
  color: #fbf7f4;
  transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
  z-index: 2;
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2);
}
.landing-grid-container .wrapper h2.landing:after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #d3cfcc;
  transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  text-shadow: 2px -1px 6px rgba(0, 0, 0, 0.3);
}

/* landing end */
.about {
  text-align: left;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px;
}
.about div {
  padding: 1rem;
}
.about h1 {
  width: 90%;
  font-size: 1.8rem;
}
.about p {
  margin: 0.5rem 0;
}

/* about end */
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-item {
  width: 390px;
  height: 300px;
}
/* portfolio end */