@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lusitana:400,700");
@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

html {
  font-size: 62.5%;
  /* prevent horizontal scroll in mobile devices */
  width: 100%;
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Tajawal", "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.8rem;
  /* nav area */
  /* header area end*/
}
@media only screen and (min-width: 768px) {
  body {
    border: 8px solid #8FBCBB;
  }
}
body h1, body h2, body h3 {
  font-family: "Lusitana", serif;
}
body h1 {
  font-weight: 700;
  font-size: 3.8rem;
  color: #8FBCBB;
}
body p {
  line-height: 150%;
  margin-bottom: 2rem;
}
body li {
  list-style: none;
}
body header {
  width: calc(100% - 16px);
  position: fixed;
  z-index: 10000;
  /* menu icon */
  /* menu btn */
}
@media only screen and (min-width: 768px) {
  body header {
    background: none;
  }
}
body header nav {
  max-height: 0;
  transition: max-height 0.2s ease-out;
  /* Cannot use global width-100 class because of Media Query. Can be fixed later with JS */
  width: 100%;
}
@media only screen and (min-width: 768px) {
  body header nav {
    max-height: none;
    padding: 2rem 5rem;
    background: none;
    width: auto;
  }
}
body header nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 20px 20px;
  display: block;
}
@media only screen and (min-width: 768px) {
  body header nav a {
    padding: 20px 30px;
    /* cannot use global float-left class because it's in Media Query. Can be fixed later with JS */
    float: left;
  }
}
body header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  user-select: none;
}
@media only screen and (min-width: 768px) {
  body header .menu-icon {
    display: none;
  }
}
body header .menu-icon .navicon {
  height: 2px;
  transition: background 0.2s ease-out;
  width: 18px;
}
body header .menu-icon .navicon:before, body header .menu-icon .navicon:after {
  background: #d8dee9;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
body header .menu-icon .navicon:before {
  top: 5px;
}
body header .menu-icon .navicon:after {
  top: -5px;
}
body header .menu-btn {
  display: none;
}
body header .menu-btn:checked ~ nav {
  max-height: 240px;
}
body header .menu-btn:checked ~ .menu-icon .navicon:before, body header .menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}
body header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
body header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
body section {
  width: 80%;
  margin: 20rem auto 0;
  padding-top: 3rem;
  clear: both;
  /* greetings area */
  /* greetings area end */
  /* about end */
  /* portfolio end */
}
body section.greetings {
  height: 100vh;
  align-items: center;
  /* clear <section>'s common padding, margin value */
  padding: 0;
  margin: 0;
}
body section .underlined {
  color: #EBCB8B;
  flex: 1;
  font-size: 2rem;
  text-decoration: none;
  background-image: -webkit-linear-gradient(360deg, #5E81AC 0%, #88C0D0 50%, #A3BE8C 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
body section .underlined:hover {
  background-size: 100% 100%;
}
body section .underlined-gradient {
  background-position: 0 -0.1em;
  background-image: -webkit-linear-gradient(360deg, #5E81AC 0%, #88C0D0 50%, #A3BE8C 100%);
}
body section.about {
  -webkit-flex-flow: row wrap;
  /*  IE, Lower version Safari fall back {overflow: auto} added above in the Shared values*/
}
body section.about div {
  padding: 1rem;
  height: 500px;
  margin: 30rem 3rem;
  /*  IE, Lower version Safari fall back {float:left} added above in the Shared values */
  overflow: hidden;
}
body section.about div:first-child {
  margin-top: 5rem;
}
body section.about div:nth-child(2n) {
  text-align: right;
}
body section.about div code {
  display: block;
}
body section.about div code.language-filter {
  display: inline-block;
  border: 1px solid #4C566A;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  padding: 0.2rem;
  margin: 1.5rem 0 0.5rem;
  color: #434C5E;
  background: #D8DEE9;
}
@media only screen and (min-width: 768px) {
  body section.about div {
    margin: 5rem 3rem;
    width: 400px;
  }
}
@media only screen and (min-width: 414px) {
  body section.about div {
    margin: 10rem 3rem;
  }
}
body section.about #testId {
  margin: 0;
}
body section.about h1 {
  width: 90%;
  font-size: 2.5rem;
}
body section.about p {
  margin: 0.5rem 0;
}
body section.portfolio .project-gallery {
  /*  IE, Lower version Safari fall back {overflow: auto} added above in the Shared values */
  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
}
body section.portfolio .project-gallery .project-item {
  height: 300px;
  /*  IE, Lower version Safari fall back {float:left} added above in the Shared values */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
body section.portfolio .project-gallery .project-item:nth-child(1) {
  background-image: url(../images/collectorsapp.png);
}
body section.portfolio .project-gallery .project-item:nth-child(2) {
  background-image: url(../images/dogmaze.png);
}
body section.portfolio .project-gallery .project-item:nth-child(3) {
  background-image: url(../images/catapi.png);
}
body section.portfolio .project-gallery .project-item:nth-child(4) {
  background-image: url(../images/aptitudetest.png);
}
body section.portfolio .project-gallery .project-item:nth-child(5) {
  background-image: url("https://placeimg.com/390/300/arch");
}
body section.portfolio .project-gallery .project-item:nth-child(6) {
  background-image: url("https://placeimg.com/390/300/arch");
}
@media only screen and (min-width: 768px) {
  body section.portfolio .project-gallery .project-item {
    width: 390px;
  }
}
body section.portfolio .project-gallery .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  color: var(--black);
}
body section.portfolio .project-gallery .modal.is-visible {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
}
body section.portfolio .project-gallery .modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}
body section.portfolio .project-gallery .modal-dialog > * {
  padding: 1rem;
}
body section.portfolio .project-gallery .modal-header,
body section.portfolio .project-gallery .modal-footer {
  background: var(--lightgray);
}
body section.portfolio .project-gallery .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body section.portfolio .project-gallery .modal-footer {
  position: sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  bottom: 0;
  width: 100%;
}
body section.portfolio .project-gallery .modal-header .close-modal {
  font-size: 1.5rem;
}
body section.portfolio .project-gallery .modal p + p {
  margin-top: 1rem;
}
body section.portfolio .project-gallery .modal-content img {
  width: 100%;
}

footer {
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

/* Shared values - such as color, position, float, overflow, etc */
nav a, .editor__input-button {
  color: #eceff4;
}

.relative {
  position: relative;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.default-background {
  background: #343b49;
}

.color-snow-dk-grey {
  color: #D8DEE9;
}

.color-polar-navy3 {
  color: #3B4252;
}

.color-polar-navy2 {
  color: #434C5E;
}

.color-frost-blue2 {
  color: #81A1C1;
}

.bg-snow-dk-grey {
  background: #D8DEE9;
}

.width-100 {
  width: 100%;
}

.flexbox {
  display: flex;
}

.display-block {
  display: block;
}

.flexwrap-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.font-sourcecodepro {
  font-family: "Source Code Pro", monospace;
}

/*# sourceMappingURL=styles.css.map */
